In [1]:
import pandas as pd

In [25]:
# open data

acs_dmv_bg = pd.read_csv("./data/acs/acs5_2018_selected_vars_DMV.csv")
el_dmv_bg = pd.read_csv("./data/EvictionLab_bg_DMV_processed_target.csv")

In [26]:
len(acs_dmv_bg), len(el_dmv_bg)

(2548, 6220)

In [27]:
el_dmv_bg

,id,name,parent_location,year,type,filings,filing_rate,threatened,threatened_rate,judgements,judgement_rate,Eviction_Score
0,110010001001,"District of Columbia, District of Columbia, 10...",District of Columbia,2018,observed,14.0,4.39,8.0,2.51,0.0,0.00,-1.532614
1,110010001002,"District of Columbia, District of Columbia, 10...",District of Columbia,2018,observed,17.0,4.67,8.0,2.20,0.0,0.00,-1.515131
2,110010001004,"District of Columbia, District of Columbia, 10...",District of Columbia,2018,observed,1.0,0.52,1.0,0.52,0.0,0.00,-1.642614
3,110010002022,"District of Columbia, District of Columbia, 20...",District of Columbia,2018,observed,1.0,1.43,1.0,1.43,0.0,0.00,-1.656247
4,110010002023,"District of Columbia, District of Columbia, 20...",District of Columbia,2018,observed,4.0,2.29,4.0,2.29,0.0,0.00,-1.618109
...,...,...,...,...,...,...,...,...,...,...,...,...
6215,518400003014,"Winchester city, Virginia, 301, 4",Winchester city,2018,observed,17.0,6.23,17.0,6.23,12.0,4.40,-0.184843
6216,518400003021,"Winchester city, Virginia, 302, 1",Winchester city,2018,observed,7.0,1.00,7.0,1.00,6.0,0.86,-1.121692
6217,518400003022,"Winchester city, Virginia, 302, 2",Winchester city,2018,observed,1.0,0.47,1.0,0.47,1.0,0.47,-1.519774
6218,518400003023,"Winchester city, Virginia, 302, 3",Winchester city,2018,observed,4.0,1.65,4.0,1.65,2.0,0.82,-1.383103
6219,518400003024,"Winchester city, Virginia, 302, 4",Winchester city,2018,observed,1.0,0.51,1.0,0.51,1.0,0.51,-1.514118

In [28]:
len(set(acs_dmv_bg["GEOID"]).intersection(set(el_dmv_bg["id"])))

1498

In [29]:
acs_dmv_bg[acs_dmv_bg["GEOID"].isin(el_dmv_bg["id"])] # just under 1500 observations within the selected DMV region

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25071_001E,B25076_001E,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,24.2,516700,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,34.2,382800,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,20.9,334200,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,28.3,370100,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,24.9,804100,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,510594516014,307,867,144,39129,NaN,339,339,0,514,...,46.3,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,0,-666666666
2540,515102013001,672,440,35,157778,NaN,332,31,301,522,...,14.1,626600,923600,258651900.0,NaN,258651900.0,-666666666,-666666666.0,301,3058
2542,510594707002,930,636,26,162143,NaN,428,51,377,581,...,23.9,672300,984700,NaN,NaN,320850400.0,-666666666,-666666666.0,377,1443
2543,510594822032,824,486,0,197702,NaN,399,101,298,573,...,22.6,424900,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187
2547,510594211021,652,644,43,105625,NaN,623,243,380,767,...,43.3,388900,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347

In [30]:
merged_acs_el = acs_dmv_bg.merge(el_dmv_bg, left_on="GEOID", right_on="id", how="inner")

In [36]:
working_df = merged_acs_el.drop(['id', 'name', 'parent_location', 'year', 'type', 'filings', 'filing_rate',
       'threatened', 'threatened_rate', 'judgements', 'judgement_rate'],axis=1)

In [37]:
working_df.to_csv("./data/working data/starting_dataset.csv", index=False)